<h1><%= @team.name %></h1>

<div class="row">
  
  <div class="span10">
    <h2>Milestones</h2>
    <ul>
      <% @team.milestones.each do |milestone| %>
        <li>
          <%= milestone.name %>
          
          <ul>
            <% milestone.open_tasks.each do |task| %>
              <li>
                <%= task.description %>
                <%= link_to("Complete", [@team, milestone, task], method: :put) %>
                <%= link_to("Delete", [@team, milestone, task], method: :delete, confirm: 'Are you sure?') %>
              </li>
            <% end %>
          </ul>
          
          <%= form_for([@team, milestone, milestone.tasks.new]) do |f| %>
            <%= f.label :description %>
            <%= f.text_field :description %>
            <%= f.submit %>
          <% end %>
        </li>
      <% end %>
    </ul>
    
    <%= form_for([@team, @team.milestones.new]) do |f| %>
      <%= f.label :name %>
      <%= f.text_field :name %>
      <%= f.submit %>
    <% end %>
  </div>
  
  <div class="span6">
    <h2>Team Members</h2>
    <ul>
      <% @team.users.each do |user| %>
        <li><%= user.username %></li>
      <% end %>
    </ul>
  </div>
  
</div>